<h1>
  Listing Shopping Lists
  <%= link_to new_shopping_list_path, class: "btn btn-success" do %>
    <i class="fa fa-plus"></i> New Shopping list
  <% end %>
</h1>


<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th class="text-center">Is purchased</th>
      <th>User</th>
      <th>Total Products</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_lists.each do |shopping_list| %>
      <tr>
        <td><%= shopping_list.date %></td>
        <td class="text-center">
          <% if shopping_list.is_purchased %>
            <i class="fa fa-check"></i>
          <% else %>
            <i class="fa fa-times"></i>
          <% end %>
        </td>
        <td><%= shopping_list.user.name %></td>
        <td><%= shopping_list.products.count %></td>
        <td class="btn-table">
          <%= link_to shopping_list, class: "btn btn-info btn-sm" do %>
            <i class="fa fa-info"></i>
          <% end %>
          <%= link_to edit_shopping_list_path(shopping_list), class: "btn btn-primary btn-sm" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to shopping_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
